body{
	background: #f3f2f2;
	/*overflow: auto;*/
	/*height: 100px;*/
}
footer{
	/*margin-top: 80px;*/
	/*top: 100px;*/
}
.wrap{
	width: 1920px;
	/*height: 1200px;*/
	/*height: auto;*/
	overflow: auto;
	/*background: black;*/
	position: relative;
	margin-top: -20px;
	box-sizing: border-box;
	/*padding-bottom: 50px;*/
	/*font-family:sans-serif;*/
}
.cuator_main_section{
	width: 100%;
	height: 603px;
	position: relative;
}
.cuator_main_section > .main_img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.cuator_main_section > .gray_img{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	width: 100%;
}
.path_div{
	width: 1140px;
	height: 50px;
	/*background: red;*/
	/*margin: 0 auto;*/
	position: absolute;
	z-index: 1;
	top: 130px;
	left: 390px;
	box-sizing: border-box;
	border-left: 10px solid #ee1e73;
}
.path_div > span{
	line-height: 50px;

}
.infos_div{
	width: 1140px;
	height: 50px;
	z-index: 4;
	/*background: red;*/
	top: 200px;
	left: 410px;
	position: absolute;
}
.infos_div > p{
	color: #313234;
	margin-right: 20px;
	text-align: right;
	line-height: 50px;
	font-size: 1.1em;
	font-family: '조선일보명조';
}
.communitypage_info{
	width: 1140px;
	height: 50px;
	/*background: red;*/
	/*margin: 0 auto;*/
	position: absolute;
	z-index: 1;
	top: 200px;
	left: 390px;
	/*color:dimgray;*/
	box-sizing: border-box;
}
.communitypage_info > p{
	color: white;
	font-family: '조선일보명조';
	font-size: 1.4em;
	margin-left: 30px;
	line-height: 50px;
}
.shooping_section{
	width: 100%;
	/*height: 1350px;*/
	/*height: auto;*/
	overflow: auto;
	/*background: red;*/
	margin-top: -350px;
	position: relative;
	/*top: -320px;*/
	z-index: 5;
}
.shooping_wrap{
	width: 1438px;
	/*height: 1289px;*/
	/*height: auto;*/
	overflow: auto;
	margin-left: 115px;
	margin-bottom: 150px;
	position: relative;
	/*background: blue;*/
}
.question_circle:first-child{
	display: none;
}
.curator_circle{
	display: none;
}
.qu_circle_2{
	display: none;
}
.shooping_left{
	width: 257px;
	height: 610px;
	background: white;
	float: left;
	box-sizing: border-box;
	border: 1px solid #cccccc;
}
.left_top{
	width: 100%;
	height: 230px;
	/*background: red;*/
	box-sizing: border-box;
	padding-top: 20px;
}
.profile_circle{
	width: 194px;
	height: 194px;
	margin: 0 auto;
	background: #7da7d9;
	box-sizing: border-box;
	padding-left:7px;
	padding-top: 7px; 
}
.in_circle{
	width: 180px;
	height: 180px;
	/*background: red;*/
}
.in_circle > img{
	width: 100%;
}
.left_top > p{
	text-align: center;
	margin-top: 20px;
	color: #7e7e7f;
	font-weight: bold;
}
.left_bottom{
	width: 100%;
	height: 367px;
	/*background: red;*/
}
.left_count_div{
	width: 100%;
	height: 76px;
	/*background: red;*/
	text-align: center;
	/*padding-top: 10px;*/
	margin-top: 10px;
}
.left_count_div > h1{
	color: #f3558d;
	font-size: 1.6em;
}
.left_count_div > p{
	margin-top: 5px;
}
sub{
	font-size: 0.7em;
	color: #f3558d;
}
.bottom_info{
	width: 100%;
	height: 120px;
	box-sizing: border-box;
	padding: 10px;
	/*background: red;*/
}
.bottom_info_wrap{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #cccccc;
}
.bottom_info_div{
	width: 100%;
	border: none;
	height: 40px;
	background: #4b4db6;
	color: white;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	font-size:1.1em;
}
.bottom_info_wrap > p{
	text-align: left;
	font-size: 1.0em;
	margin-top: 5px;
}
.shopping_right{
	width: 1162px;
	/*height: 1287px;*/
	/*height: auto;*/
	overflow: auto;
	background: white;
	margin-left: 10px;
	float: left;
	box-sizing: border-box;
	padding: 30px;
	border: 1px solid #cccccc;
}
.shopping_right_top{
	width: 100%;
	height: 133px;
	/*background: red;*/
}
.shopping_right_top_left{
	width: 704px;
	height: 100%;
	/*background: blue;*/
	float: left;
	box-sizing: border-box;
	padding-top: 40px;
}
.cart_circle{
	width: 50px;
	height: 50px;
	text-align: center;
	background: #ee1e73;
	font-size: 1.5em;
	box-sizing: border-box;
	padding-top: 13px;
	margin-left: 10px;
	float: left;
}
.cart_circle > i{
	color: white;
	text-align: center;
}
.shopping_right_top_left > p{
	float: left;
	line-height: 60px;
	margin-left: 20px;
}
.shopping_right_top_right{
	width: 390px;
	height: 100%;
	float:left;
	box-sizing: border-box;
	padding-top: 30px;
	/*background: red;*/
}
.right_ul{
	width: 355px;
	height: 35px;
	/*background: red;*/
}
.right_ul > li{
	float: left;
	width: 115px;
	height: 100%;
	text-align: center;
	line-height: 35px;
}
.right_ul>li>a{
	font-size:0.9em;
	font-family: 'a뉴고딕M';
	font-weight: bold;
	color:dimgray;
}
.this_div{
	width: 355px;
	height: 7px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	margin-top: 5px;
}
.this_bar{
	width: 33.333%;
	height: 100%;
	float: left;
	background: #ee1e73;
}
.shopping_right_bottom{
	width: 100%;
	/*height: 906px;*/
	/*height: auto;*/
	overflow: auto;
	/*background: red;*/
}
.shopping_right_bottom_top{
	width: 100%;
	height: 77px;
	/*background: red;*/
	box-sizing: border-box;
	border-bottom: 1px solid #cccccc;
}
.shopping_right_bottom_top p,.shopping_right_bottom_top label{
	text-align: center;
	line-height: 77px;
	font-size: 16px;
	font-weight: bold;
	font-family: 'a뉴고딕M';
	color:#3a3a3a;
}
.top_check{
	width: 205px;
	height: 100%;
	float: left;
}
.shopping_right input[type="checkbox"] {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip:rect(0,0,0,0);
border: 0
}
.shopping_right input[type="checkbox"] + label {
display: inline-block;
position: relative;
cursor: pointer;

-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.shopping_right input[type="checkbox"] + label:before {
content: ' ';
display: inline-block;
width: 18px;
height: 18px;
line-height: 18px;
margin: -2px 50px 0 10px;

text-align: center;
vertical-align: middle;
/*background: #fafafa;*/
border: 1px solid #cacece;
/*border-radius: 3px;*/
box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.shopping_right input[type="checkbox"] + label:active:before,

.shopping_rightinput[type="checkbox"]:checked + label:active:before {
        box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);

}

.shopping_right  input[type="checkbox"]:checked + label:before {
content: '\2713';
color: #314ca2;
text-shadow: 1px 1px white;
background: #f1f4ff;
border-color: #adb8c0;
box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.shooping_top_info{
	width: 435px;
	height: 100%;
	float: left;
	/*background: red;*/
}
.shooping_top_count{
	width: 95px;
	height: 100%;
	float: left;
	/*background: green;*/
}
.shooping_top_price{
	float: left;
	width: 137px;
	height: 100%;
	/*background: red;*/
}
.shooping_top_delivery{
	width: 100px;
	height: 100%;
	float: left;
	/*background: blue;*/
}
.shooping_top_order{
	width: 126px;
	height: 100%;
	float: left;
	/*background: green;*/
}

.shopping_right_bottom_body{
	width: 100%;
	/*height: 563px;*/
	height: auto;
	/*overflow: auto;*/
	/*background: blue;*/
}
.body_list_item{
	width: 100%;
	height: 180px;
	border-bottom: 1px solid #cccccc;
	box-sizing: border-box;
}
.item_check{
	width: 64px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-top: 80px;
}
.item_img{
	width: 140px;
	height: 100%;
	float: left;
	padding-top: 20px;
	/*background: red;*/
}
.item_img_wrap{
	width: 140px;
	height: 140px;
	box-sizing: border-box;
	border: 1px solid #cccccc;;
	margin: 0 auto;
	overflow: hidden;
	cursor:pointer;
}
.item_img_wrap > img{
	width: 100%;
}
.item_info{
	width: 435px;
	height: 100%;
	float: left;
	/*background: red;*/
}
.item_info_top{
	width: 100%;
	height: 120px;
	/*background: blue;*/
	box-sizing: border-box;
	padding-top: 30px;
	padding-left: 20px;
}
.brand_product{
	font-size:1.0em; 
	line-height: 20px;
	font-weight: bold;
	font-family: 'a뉴고딕M';
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor:pointer;

}
.brand_name{
	font-family: 'a뉴고딕M';
	font-size: 0.9em;
	/*cursor:pointer;*/
}
.item_info_bottom{
	width: 100%;
	height: 40px;
	/*background: red;*/
}
.item_info_bottom > span{
	font-size: 0.9em;
	margin-left: 20px;
	font-family: 'a뉴고딕M';
}
.item_spinner{
	float: left;
	width: 95px;
	height: 100%;
	box-sizing: border-box;
	padding-left: 14px;
	padding-top: 75px;
	/*background: red;*/
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
.count{
	width: 67px;
	height: 30px;
	padding-left: 5px;
	margin: 0 auto;
	font-size:1.0em;
	/*text-align: right;*/
}
.count_ch{
	width:67px;
	height:35px;
	margin-top: 10px;
	font-size:0.9em;
	font-family: 'a뉴고딕M';
	border:none;
	background-color: #3c3c3c;
	color:white;
}
.item_prcie{
	width: 140px;
	height: 100%;
	float: left;
	/*background: red;*/
}
.item_prcie > h4{
	text-align: center;
	line-height: 180px;
}
.item_delivery{
	width: 100px;
	height: 100%;
	float: left;
	/*background: red;*/
}
.item_delivery > h4{
	text-align: center;
	line-height: 180px;
}
.item_order{
	width: 120px;
	height: 100%;
	float: left;
	/*background: red;*/
	box-sizing: border-box;
	padding-top: 65px;
	text-align: center;
}
.dirent_order{
	width: 86px;
	height: 50px;
	border: 1px solid #cccccc;
	font-family: 'a뉴고딕M';
	font-weight: bold;
	background: linear-gradient( to bottom, #fefefe, #cccccc );
}
.shooping_btn_div{
	width: 100%;
	height: 90px;
	box-sizing: border-box;
	padding-top: 25px;
	font-size:1.2em;
	/*border:1px solid blue;*/
	/*border-bottom: 1px solid #cccccc;*/
	/*background: red;*/
}
.shooping_btn{
	border: 2px solid #cccccc;
	background: white;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 65px;
	display: inline-block;
	width:130px;
	height:40px;
	font-size: 0.8em;
	font-family: 'a뉴고딕M';

}
.shooping_order_div{
	width: 100%;
	height: 150px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
}
.order_div_frist{
	width: 265px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding-top: 45px;
	/*background: red;*/
}
.order_div_frist > h1{
	text-align: center;
	font-size: 1.3em;
	color: #404040;
}
.select_price{
	font-size: 1.7em;
}
.order_plus{
	width: 68px;
	height: 100%;
	float: left;
	/*background: red;*/
}
.plus_circle{
	width: 45px;
	height: 45px;
	margin-top: 50px;
	box-sizing: border-box;
	padding-top: 10px;
	background: #acacac;
	text-align: center;
}
.plus_circle > i{
	color: white;
	font-size: 1.5em;
}
.order_delivery{
	width: 210px;
	height: 100%;
	padding-top: 45px;
	float: left;
}
.order_delivery > h1{
	text-align: center;
	font-size: 1.3em;
	color: #404040;
	box-sizing: border-box;
	
}
.order_eq{
	width: 110px;
	height: 100%;
	float: left;
	/*background: red;*/
}
.eq_circle{
	width: 45px;
	height: 45px;
	margin: 0 auto;
	margin-top: 50px;
	box-sizing: border-box;
	padding-top: 10px;
	background: #acacac;
	text-align: center;

}
.eq_circle > i{
	color: white;
	font-size: 1.5em;
}
.end_price{
	width: 210px;
	height: 100%;
	padding-top: 45px;
	float: left;
}
.end_price > h1{
	text-align: center;
	font-size: 1.3em;
	color: #404040;
	box-sizing: border-box;	
}
.order_divs{
	width: 232px;
	height: 100%;
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding-top: 45px;
	/*background: red;*/
}
.order_divs{
	font-size:1.2em;
	font-weight: bold;
}
.order_divs_btn{
	cursor: pointer;
	width: 190px;
	height: 54px;
	background: #ee1e73;
	color: white;
	text-align: center;
	line-height: 54px;
	font-size: 1.2em;
	border: none;;
}
.shooping_banner_div{
	width: 100%;
	height: 181px;
	/*background: red;*/
	margin-top: 60px;
}
.banner_div{
	width: 545px;
	height: 100%;
	float: left;
	/*background: red;*/
	position: relative;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	overflow: hidden;
}
.banner_div > img{
	width: 101%;
	height: 101%;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
}
.banner_white_div{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.3);
	z-index: 2;
	box-sizing: border-box;
	padding-left: 30px;
	padding-top: 30px;
}
.banner_white_div > h1{
	font-size: 2em;
	font-weight: bold;
}
.banner_white_div > h2,.banner_white_div > h3{
	float: left;
	color: white;
	margin-top: 10px;
	/*line-height: 182px;*/
}
.banner_gray_div{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(50,50,50,0.3);
	z-index: 2;
	box-sizing: border-box;
	padding-left : 300px;
	padding-top: 30px;
}
.banner_gray_div > *{
	color: white;
	font-size: 2em;
}
.banner_gray_div > h2{
	float: left;
	margin-top: 10px;
}
.cart_greet{
	font-family: 'a뉴고딕M';
	font-size: 1.1em;
	font-weight: bold;
}
.sell_price{
	font-weight: bold;
	color:dimgray;
}
.sell_sale{
	font-weight: bold;
	color:dimgray;
}
.cash_sell{
	font-weight: bold;
	color:darkgreen;
}
.cash_discount{
	font-weight: bold;
	color:red;
}
footer{
	/*margin-top: -200px;*/
	/*top: 2px;*/
}



.order_list_modal{
	width: 100%;
	height: 110%;
	position: fixed;
	z-index: 999;
	margin-top: -30px;
	background: rgba(0,0,0,0.5);
}
.order_list_modal_body{
	width: 1150px;
	height: 813px;
	margin: 0 auto;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 5px 1px gray;
	margin-top: 90px;
	box-sizing: border-box;
	padding-left: 80px;
	padding-right: 80px;
	position: relative;
}
.order_list_modal_wrap{
	width: 100%;
	height: 100%;
	/*background: red;*/
	padding-top: 60px;
}
.order_list_modal_top{
	width: 100%;
	height: 75px;
	/*background: red;*/
}
.order_list_modal_top > div{
	float: left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	/*padding-top: 19px;*/
}
.order_list_top_left{
	padding-top: 19px;
}
.order_icon_circle{
	float: left;
	width: 42px;
	height: 42px;
	text-align: center;
	box-shadow: 1px 1px 10px 1px #ddd;
	background: #ee1e72;
}
.order_icon_circle > i{
	line-height: 42px;
	color: white;
	font-size: 22px;
	text-shadow: 1px 1px 10px 1px #ddd;
}
.allcheck_modal>label{
	font-family: 'a뉴고딕M';
	font-size:14px;
}
.order_list_top_left > h1{
	font-size: 25px;
	margin-left: 20px;
	float: left;
	margin-top: 7px;
}
.order_list_top_left > p{
	font-size: 17px;
	margin-left: 20px;
	float: left;
	margin-top: 7px;
	font-family: 'a뉴고딕M';
	font-size:12px;
	margin-top: 20px;
}
.modal_top_right > *{
	float: right;
}
.order_list_success{
	width: 131px;
	height: 35px;
	text-align: center;
	color: #ee1e72;
	border: 2px solid #ee1e72;
	background: white;
	margin-top: 22.5px;
	font-family: 'a뉴고딕M';
	position:absolute;
	top:120px;
	left:275px;
	z-index: 500;
	cursor: pointer;
	font-size:14px;
}
.order_list_all_check{
	width: 100%;
	height: 54px;
	/*background: red;*/
	box-sizing: border-box;
	padding-top: 17px;

}
.order_list_all_check {position: relative;} 
.order_list_all_check input[type="checkbox"] {
 /* 실제 체크박스는 화면에서 숨김 */
  position: absolute; width: 1px; 
  height: 1px; padding: 0; margin: -1px; 
  overflow: hidden; clip:rect(0,0,0,0); border: 0;

  } 
  .order_list_all_check input[type="checkbox"] + label { display: inline-block;
   position: relative; cursor: pointer; -webkit-user-select: none; 
   -moz-user-select: none; -ms-user-select: none; } 
   .order_list_all_check input[type="checkbox"] + label:before { /* 가짜 체크박스 */ content: ' ';
    display: inline-block; width: 21px; /* 체크박스의 너비를 지정 */ height: 21px;
     /* 체크박스의 높이를 지정 */ line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
      margin: -2px 8px 0 0; text-align: center; vertical-align: middle; background: #fafafa;
       border: 1px solid #cacece; border-radius : 3px; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
       inset 0px -15px 10px -12px rgba(0,0,0,0.05); } 
       .order_list_all_check input[type="checkbox"] + label:active:before, .order_list_all_check input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); } 
       .order_list_all_check input[type="checkbox"]:checked + label:before {
        /* 체크박스를 체크했을때 */ content: '\2714'; /* 체크표시 유니코드 사용 */ color: #99a1a7; text-shadow: 1px 1px #fff; background: #e9ecee; border-color: #adb8c0; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); }
        /* 체크박스를 체크했을때
*/
.order_list_body{
	width: 100%;
	height: 600px;
	/*background: red;*/
}
.order_list_table{
	width: 100%;
	/*height: 600px;*/
	overflow: auto;
	 border-collapse: separate;
  border-spacing: 0 10px;
}
.order_list_table tr{
	width: 100%;
	/*height: 110px;*/
	box-sizing: border-box;
	border: 1px solid #ddd;
	margin-top: 10px;
	/*padding-top: 10px;*/
}
.order_list_table td{
	box-sizing: border-box;
	border: 1px solid #ddd;
}
.table_check{
	width: 70px;
	height: 125px;
	float: left;
	text-align: center;
}
.table_check {position: relative;} 
.table_check input[type="checkbox"] {
 /* 실제 체크박스는 화면에서 숨김 */
  position: absolute; width: 1px; 
  height: 1px; padding: 0; margin: -1px; 
  overflow: hidden; clip:rect(0,0,0,0); border: 0;
  line-height: 127px;
  } 
  .table_check input[type="checkbox"] + label { display: inline-block;
   position: relative; cursor: pointer; -webkit-user-select: none; 
   line-height: 127px;
   -moz-user-select: none; -ms-user-select: none; } 
   .table_check input[type="checkbox"] + label:before { /* 가짜 체크박스 */ content: ' ';
    display: inline-block; width: 21px; /* 체크박스의 너비를 지정 */ height: 21px;
     /* 체크박스의 높이를 지정 */ line-height: 21px; /* 세로정렬을 위해 높이값과 일치 */
      margin: -2px 8px 0 0; text-align: center; vertical-align: middle; background: #fafafa;
       border: 1px solid #cacece; border-radius : 3px; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), 
       inset 0px -15px 10px -12px rgba(0,0,0,0.05); } 
       .table_check input[type="checkbox"] + label:active:before, .table_check input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); } 
       .table_check input[type="checkbox"]:checked + label:before {
        /* 체크박스를 체크했을때 */ content: '\2714'; /* 체크표시 유니코드 사용 */ color: #99a1a7; text-shadow: 1px 1px #fff; background: #e9ecee; border-color: #adb8c0; box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1); }

.table_item_img{
	width: 112px;
	height: 112px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	float: left;
	margin-top: 7.5px;
	overflow: hidden;
}
.table_item_img > img{
	width: 100%;
}
.table_item_info{
	width: 618px;
	height: 113px;
	float: left;box-sizing: border-box;
	padding-top: 20px;
}
.table_item_info_title{
	width: 92px;
	height: 30px;
	float: left;
}
.table_item_info_title > p{
	text-align: right;
	margin-right: 5px;
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	font-family: 'a뉴고딕M'; 
}
.table_item_info_body{
	width: 500px;
	float: left;
	height: 30px;
}
.table_item_info_body > p{
	text-align: left;
	margin-left: 10px;
	font-size: 14px;
	line-height: 30px;
	font-family: 'a뉴고딕M'; 
}
.table_item_btnes{
	float: left;
	width: 140px;
	height: 127px;
	/*background: red;*/
	box-sizing: border-box;
	padding-top: 3px;
}
.table_item_btnes > button{
	width: 100%;
	height: 34px;
	color: white;
	text-align: center;
	background: #4b4db6;
	border: none;
	margin-top: 5px;
	font-family: 'a뉴고딕M';
}

.order_list_close_circe{
	position: absolute;
	right: 20px;
	top: 20px;
	background: #ee1e72;
	width: 27px;
	height: 27px;
	box-shadow: 1px 1px 10px 1px #ddd;
	text-align: center;
	cursor: pointer;
}
.order_list_close_circe > i{
	color: white;
	font-size: 17px;
	line-height: 27px;
}

.product_review_modal{
	width: 100%;
	height: 110%;
	position: fixed;
	z-index: 999;
	margin-top: -30px;
	background: rgba(0,0,0,0.5);
}
.product_review_body{
	width: 1150px;
	height: 813px;
	margin: 0 auto;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 5px 1px gray;
	margin-top: 100px;
	box-sizing: border-box;
	padding-left: 80px;
	padding-right: 80px;
	position: relative;
}
.review_wrap{
	width: 100%;
	height: 100%;
	/*background: red;*/
	box-sizing: border-box;
	padding-top: 55px;
}
.review_top{
	width: 100%;
	height: 45px;
	/*background: red;*/
}
.review_top_circle{
	width: 42px;
	height: 42px;
	background: #ee1e72;
	float: left;
	text-align: center;
	box-shadow: 2px 2px 4px #ddd;
}
.review_top_circle > i{
	color: white;
	line-height: 42px;
	font-size: 34px;
}
.review_top > h1{
	float: left;
	font-size: 25px;
	line-height: 45px;
	margin-left: 20px;
}
.review_info{
	width: 100%;
	height: 156px;
	/*background: red;*/
	margin-top: 15px;
}
.review_img{
	width: 156px;
	height: 156px;
	border: 1px solid #ddd;
	overflow: hidden;
	float: left;
}
.review_img > img{
	width: 100%;
}
.review_info_wrap{
	width: 800px;
	height: 100%;
	float: left;
	/*background: red;*/
}
.review_info_div{
	width: 100%;
	height: 35px;
	margin-top: 5px;
}
.review_info_title{
	width: 120px;
	height: 100%;
	float: left;	
}
.review_info_body{
	width: 680px;
	height: 100%;
	float: left;
}
.review_info_title > p{
	text-align: right;
	font-weight: bold;
	font-size: 15px;
	line-height: 35px;
	margin-right: 10px;
	font-family:'a뉴고딕M';
	color:dimgray;
}
.review_info_body > p{
	float: left;
	font-size: 14px;
	margin-left: 10px;
	line-height: 35px;
	font-family:'a뉴고딕M';
}
.small_info_div{
	width: 50%;
	float: left;
}
.small_info_body{
	width: 240px;
}

.small_info_body {position: relative;} 
.small_info_body input[type="radio"]
 { position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden;
   clip:rect(0,0,0,0);
    border: 0; 
} 
.small_info_body input[type="radio"] + label { 
	display: inline-block; 
	position: relative;
	 padding-left: 30px;
	  cursor: pointer;
	   -webkit-user-select: none; 
	   -moz-user-select: none; 
	   -ms-user-select: none;
	   font-family: 'a뉴고딕M';
	font-size:14px;
} 
.small_info_body input[type="radio"] + label:before { content: '';
position: absolute; left: 0; top: -4px; 
width: 15px; height: 15px; text-align: center; 
background: #fafafa; border: 1px solid #cacece; 
border-radius: 100%; 
box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05); 
} 
.small_info_body input[type="radio"] + label:active:before, .small_info_body input[type="radio"]:checked + label:active:before { 
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); 
} 
.small_info_body input[type="radio"]:checked + label:before { 
	background: #E9ECEE; border-color: #adb8c0; 
} 
.small_info_body input[type="radio"]:checked + label:after {
 content: ''; position: absolute; top: 0px; left: 3.9px; 
 width: 10px; height: 10px; background: #99a1a7; border-radius: 100%;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
   }

.review_title{
	width: 105%;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding-left: 10px;
}
.review_text_area{
	width: 100%;
	height: 409px;
	margin-top: 15px;
	/*background: red;*/
}

.review_modal_btns{
	width: 100%;
	height: 100px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 30px;
	margin-top: 8px;
}
.review_modal_btns > button{
	width: 100px;
	height: 40px;
	color: white;
	text-align: center;
	background: #4b4db6;
	border: none;
	/*font-family:'a뉴고딕M';*/
	font-size:21px;	
}
.review_success_1{
	background: #ee1e72;	
}
.review_success{
	background: #ee1e72;	
}
.review_close_circle{
	position: absolute;
	right: 20px;
	top: 20px;
	background: #ee1e72;
	width: 27px;
	height: 27px;
	box-shadow: 1px 1px 10px 1px #ddd;
	text-align: center;
	cursor: pointer;
}
.review_close_circle > i{
	color: white;
	font-size: 17px;
	line-height: 27px;
}
.sel_buy_all{
	font-family: 'a뉴고딕M';
	font-size:15px;
	/*font-weight: bold;*/
}
.openraido >label{
	font-family: 'a뉴고딕M';
	font-size:15px;
}





#remo{
	border: none;
}
.page-number{
	cursor: pointer;
}
.signle_icon >i{
	color: #4b4db6;
}
.dobule_icon > i{
	color: #4b4db6;	
}
.active{
	font-weight: bold;
}



/*구매이력*/
.buy_order_modal{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	    margin-top: -30px;
    background: rgba(0,0,0,0.5)
	/*background: red;*/
}
.buy_order_wrap {
    width: 940px;
    height: 813px;
    margin: 0 auto;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 1px grey;
    margin-top: 90px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}
.buy_order_body{
	    width: 100%;
    height: 100%;
    /* background: red; */
    padding-top: 60px;
}
.buy_list_modal_top {
    width: 100%;
    height: 100px;
    /* background: red; */
}
.buy_list_modal_top > div {
    /*float: left;*/
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    /* padding-top: 19px; */
}
.buy_icon_circle {
    float: left;
    width: 42px;
    height: 42px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #ddd;
    background: #ee1e72;
}
.buy_icon_circle > i {
    line-height: 42px;
    color: white;
    font-size: 22px;
    text-shadow: 1px 1px 10px 1px #ddd;
}
.buy_list_top_left > h1 {
    font-size: 25px;
    margin-left: 20px;
    float: left;
    margin-top: 7px;
}
.buy_list_top_left > p {
    margin-left: 20px;
    float: left;
    font-family: a뉴고딕M;
    font-size: 12px;
    margin-top: 20px;
}
.buy_modal_top_right{
	text-align: center;
}
.buy_modal_top_right > button{

	width: 131px;
    height: 35px;
    margin-top: 0;
    text-align: center;
    color: rgb(238, 30, 114);
    margin-top: 22.5px;
    font-family: a뉴고딕M;
  	/*float: right;*/
    z-index: 500;
    cursor: pointer;
    font-size: 14px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(238, 30, 114);
    border-image: initial;
    background: white;
    margin-right: 10px;
}
.buy_list_body{
    width: 100%;
    height: 600px;
    margin-top: 20px;
     /*background: red; */
}
.buy_list_table{
	width: 100%;
    /* height: 600px; */
    overflow: auto;
    /*background: blue;*/
    border-collapse: separate;
    border-spacing: 0 10px;
}
.buy_list_table tr {
    width: 100%;
    /* height: 110px; */
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-top: 10px;
    /* padding-top: 10px; */
}
.buy_list_table td {
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.buy_table_item_img {
    width: 112px;
    height: 100px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    float: left;
    margin-top: 7.5px;
    overflow: hidden;
}
.buy_table_item_img> img {
    width: 100%;
}
.buy_table_item_info {
    width: 618px;
    height: 113px;
    float: left;
    box-sizing: border-box;
    padding-top: 20px;
}
.buy_table_item_info_title {
    width: 92px;
    height: 30px;
    float: left;
}
.buy_table_item_info_title > p {
    text-align: right;
    margin-right: 5px;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    font-family: a뉴고딕M;
}
.buy_table_item_info_body {
    width: 500px;
    float: left;
    height: 30px;
}
.buy_table_item_info_body> p {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    line-height: 30px;
    font-family: a뉴고딕M;
}
.buy_list_close_circe {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #ee1e72;
    width: 27px;
    height: 27px;
    box-shadow: 1px 1px 10px 1px #ddd;
    text-align: center;
    cursor: pointer;
}
.buy_list_close_circe > i {
    color: white;
    font-size: 17px;
    line-height: 27px;
}
.buy_all{
	background: rgb(238, 30, 114);
	color: white;
}



/*교환신청*/
.exchange_review_modal{
    width: 100%;
    height: 110%;
    position: fixed;
    z-index: 999;
    margin-top: -30px;
    background: rgba(0,0,0,0.5);
}
.exchange_body{
	width: 950px;
    height: 750px;
    margin: 0 auto;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 1px grey;
    margin-top: 150px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}
.exchange_wrap{
	    width: 100%;
    height: 100%;
     /*background: red; */
    box-sizing: border-box;
    padding-top: 55px;
}
.exchange_top {
    width: 100%;
    height: 45px;
    /* background: red; */
}
.exchange_top_circle {
    width: 42px;
    height: 42px;
    background: #ee1e72;
    float: left;
    text-align: center;
    box-shadow: 2px 2px 4px #ddd;
}
.exchange_top_circle > i {
    color: white;
    line-height: 42px;
    font-size: 34px;
}
.exchange_top > h1 {
    float: left;
    font-size: 25px;
    line-height: 45px;
    margin-left: 20px;
}
.exchange_info {
    width: 100%;
    height: 156px;
    /* background: red; */
    margin-top: 15px;
}
.exchange_img {
    width: 156px;
    height: 156px;
    border: 1px solid #ddd;
    overflow: hidden;
    float: left;
}
.exchange_img > img {
    width: 100%;
}
.exchange_info_wrap {
    width: 630px;
    height: 100%;
    float: left;
    /*background: red;*/
    /* background: red; */
}
.exchange_info_div{
	width: 100%;
    height: 35px;
    margin-top: 5px;
}
.exchange_info_title {
    width: 100px;
    height: 100%;
    float: left;
}
.exchange_info_title > p {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    line-height: 35px;
    margin-right: 10px;
    font-family: 'a뉴고딕M';
    color: dimgray;
}
.exchange_info_body {
    width: 510px;
    height: 100%;
    float: left;
}
.exchange_info_body > p {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    line-height: 35px;
    font-family: 'a뉴고딕M';
}
.ex_small_info_div {
    width: 50%;
    float: left;
    /*background: blue;*/
}
.ex_small_info_body {
    position: relative;
}

.ex_small_info_body {
    width: 210px;
    /*background: red;*/
}
.exchange_title {
    width: 105%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding-left: 10px;
}
.exchange_bodytext{
	width: 100%;
	height: 350px;
	margin-top: 20px;	
	/*background: red;*/
}
.exchange_text{
	resize: none;
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
}
.exchange_modal_btns {
    width: 100%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    margin-top: 8px;
}
.exchange_modal_btns > button {
    width: 100px;
    height: 40px;
    color: white;
    text-align: center;
    background: #4b4db6;
    border: none;
    /* font-family: 'a뉴고딕M'; */
    font-size: 21px;
}
.exchange_close_circle {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #ee1e72;
    width: 27px;
    height: 27px;
    box-shadow: 1px 1px 10px 1px #ddd;
    text-align: center;
    cursor: pointer;
}
.exchange_close_circle > i {
    color: white;
    font-size: 17px;
    line-height: 27px;
}



/*환불신청*/
.return_modal{
	width: 100%;
    height: 110%;
    position: fixed;
    z-index: 999;
    margin-top: -30px;
    background: rgba(0,0,0,0.5);
}
.return_body{
	width: 950px;
    height: 750px;
    margin: 0 auto;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 1px grey;
    margin-top: 150px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}
.return_wrap{
	width: 100%;
    height: 100%;
    /* background: red; */
    box-sizing: border-box;
    padding-top: 55px;
}
.return_top {
    width: 100%;
    height: 45px;
    /* background: red; */
}
.return_top_circle {
    width: 42px;
    height: 42px;
    background: #ee1e72;
    float: left;
    text-align: center;
    box-shadow: 2px 2px 4px #ddd;
}
.return_top_circle > i {
    color: white;
    line-height: 42px;
    font-size: 34px;
}
.return_top > h1 {
    float: left;
    font-size: 25px;
    line-height: 45px;
    margin-left: 20px;
}
.return_info{
	width: 100%;
    height: 156px;
    /* background: red; */
    margin-top: 15px;
}
.return_img {
    width: 156px;
    height: 156px;
    border: 1px solid #ddd;
    overflow: hidden;
    float: left;
}
.return_img > img {
    width: 100%;
}
.return_info_wrap {
    width: 630px;
    height: 100%;
    float: left;
}
.return_info_div {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}
.return_info_title {
    width: 100px;
    height: 100%;
    float: left;
}
.return_info_title > p {
    text-align: right;
    font-weight: bold;
    font-size: 15px;
    line-height: 35px;
    margin-right: 10px;
    font-family: a뉴고딕M;
    color: dimgrey;
}
.return_info_body {
    width: 510px;
    height: 100%;
    float: left;
}
.return_info_body > p {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    line-height: 35px;
    font-family: a뉴고딕M;
}
.re_small_info_div {
    width: 50%;
    float: left;
    /* background: blue; */
}
.re_small_info_body {
    width: 210px;
    /* background: red; */
}
.re_small_info_body {
    position: relative;
}
.return_title {
    width: 105%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding-left: 10px;
}
.return_bodytext {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    /* background: red; */
}
.return_text {
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
}
.return_modal_btns {
    width: 100%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    margin-top: 8px;
}
.return_modal_btns > button {
    width: 100px;
    height: 40px;
    color: white;
    text-align: center;
    background: #4b4db6;
    border: none;
    /* font-family: 'aë‰´ê³ ë”•M'; */
    font-size: 21px;
}
.return_close_circle{
	position: absolute;
    right: 20px;
    top: 20px;
    background: #ee1e72;
    width: 27px;
    height: 27px;
    box-shadow: 1px 1px 10px 1px #ddd;
    text-align: center;
    cursor: pointer;
}
.return_close_circle > i {
    color: white;
    font-size: 17px;
    line-height: 27px;
}